body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.btn-primary{
  background-color: blue;
  border-color:blue;
}
.btn-primary:hover{
  background-color: rgb(38, 0, 128);
}
.second-row-home{
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-item{
  margin-bottom: 20px;
}
.footer-section{
  background-color: #343a40;
  color:#fff;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  position: absolute;
  border-radius: 15px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:#baf5d9;
}
